<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            padding: 0;
            margin: 0;
            font-family: monospace;
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        code {
            background-color: #F6F8FA;
            padding: 3px;
            font-size: 12px;
        }

        li {
            margin-bottom: 10px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <h1>TMChat</h1>
        <p>Provides temporary chat room API.</p>
        <p>This project is built based on <a href="https://bunsvr.netlify.app">BunSVR</a>.</p>
        <h2>Message</h2>
        <p>Message format: <code>[action].[room].[author].[message]</code></p>
        <b>Actions</b>
        <ul>
            <li>Join room: <code>j</code></li>
            <li>Leave room: <code>l</code></li>
            <li>Send message: <code>t</code></li>
            <li>Ping: <code>p</code></li>
        </ul>
        <b>Examples</b>
        <ul>
            <li>Join room <code>general</code>: <code>j.general</code></li>
            <li>Leave room <code>general</code>: <code>l.general</code></li>
            <li>Send <i>Hello world!</i> in room <code>general</code> with username <code>aquapi</code>: <code>t.general.aquapi.Hello world!</code></li>
        </ul>
        <b>Response</b>
        <ul>
            <li>Invalid message: <code>M</code></li>
            <li>Invalid author: <code>A</code></li>
            <li>Invalid room: <code>I</code></li>
            <li>Message: <code>[author]:[message]</code></li>
        </ul>
    </div>
</body>

</html>